

/* font inter, 300 weight ideal*/
*{
    font-family: "Inter";
    color: #212A37;
    font-weight: 600;
}


/*palette
    white: chalk, #FFFFFC
    dark: Oxford Blue #212A37
    grey: White Plum Grey E5 E4 E6
    dark grey: #e5e4e6be
*/

body{
    font-weight: 300;
    margin: 0;
    background-color: #212A37;
}

header{
    color: #FFFFFC;
    font-weight: 300;
    background-color: #212A37;
    display:flex;
    align-items: end;
    font-size: 350%;
    padding-left: 30px;
    padding-bottom: 20px;
    margin: 0;
    width: 100%;
    height: 200px;
    border-bottom: #e5e4e6be 5px solid;
}

p{
    color: #212A37;
    font-weight: 600;
}

h1, h2, h3, h4{
    color: #212A37;
    font-weight: 600;
}

.subbody{
    height: 100vh;
    /*border: #e5e4e6be 5px solid;*/
}

.subbody .content{
    padding: 25px;
    font-weight: 600;
    font-size: 150%;
    color: #212A37;
    margin-right: 200px;
    margin-left: 200px;
    border: 5px solid rgb(173, 173, 173);
    border-top: hidden;
    background-color: #e6e6dd;
    min-height: 100%;
}

.headnav{
    margin-left: 200px;
    margin-right: 200px;
    background-color: #212A37;
    border-left: #e5e4e6be 5px solid;
    border-right: #e5e4e6be 5px solid;
    border-bottom: #e5e4e6be 5px solid;
    display: flex;
}

.sidebar{
    border-top: #e5e4e6be 5px solid;
    border-right: #e5e4e6be 5px solid;
    background-color: #212A37;
    height: 100%;
    width: 200px;
    float: left;
}

.sidebox{
    color: #FFFFFC;
    font-weight: 300;
    padding: 5px;
    margin: 1px;
    text-align: center;
    background-color: #212A37;
    border-bottom: #E5E4E6 3px solid;
    cursor: pointer;
    z-index: 2;
}

.sidebox:hover {
    opacity: 0.7;
}

.headbox{
    color: #FFFFFC;
    font-weight: 300;
    width: 200px;
    padding: 5px;
    text-align: center;
    background-color: #212A37;
    border-left: #E5E4E6 2px solid;
    border-right: #E5E4E6 2px solid;
    cursor: pointer;
    z-index: 2;
}

.headbox:hover{
    opacity: 0.7;
}

.sbs{
    display: flex;
    gap: 30px;
}

footer{
    background-color: rgb(198, 247, 214);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 25px;
    font-size: larger;
}